body {
    font-family: monospace;
    background-color: rgb(26, 21, 21);
  }

  h1 {
    background-color: #8080ff;
    color: black;
    display: inline-block;
    font-size: 4em;
    margin: 0;
    padding: 10px;
  }

  #chatbox 
  {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 60px;
  }

  #userInput 
  {
    margin-left: 40px;
    margin-right: auto;
    width: 95%;
    margin-top: 60px;
  }

  #buttonInput
  {
    flex: 1;
    background-color: #04AA6D;
    border: none;
    text-align: center;
    
    display: inline-block;
    font-size: 200px;
   
  }
  
  #textInput 
  {
    flex: 1;
    width: 90%;
    height: 60%;
    border: none;
    border-bottom: 3px solid black;
    font-family: monospace;
    font-size: 17px;
  }

  #pdfInput
  {
    width: 45%;
    height: 30%;
    border: none;
    border-bottom: 3px solid black;
    font-family: monospace;
    font-size: 17px;
  }

  .userText 
  {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
  }

  .userText span
   {
    background-color: #e699ff;
    padding: 10px;
    border-radius: 2px;
  }

  .botText 
  {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
  }

  .botText span 
  {
    background-color: #ffdd99;
    padding: 10px;
    border-radius: 2px;
  }

  #tidbit 
  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
  }

  .boxed 
  {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    height: 100%;
    margin-top: 60px;
    border: 1px solid green;
    background-color: rgb(122, 122, 122);
  }

  .box 
  {
    border: 2px solid black;
  }
