<!DOCTYPE html>
<html lang="en">
  


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='JS/getresponse.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/success.js')}}"></script>
    <title>Log Ingestor System</title>
  </head>



  <body>

    <center>
      <h1>
        Log Ingestor System      
      </h1>
    </center>

    <div class="box"></div>

    <div class="boxed">
      <div>

        <div id="chatbox">
          
          <p class="botText">
            
            <span>Hi! please write your Query for logs</span>
          </p>
        </div>

        <div id="userInput">

           <!-- user enter query into it -->
      
          


          <input id="textInput" type="text" name="msg"  placeholder="Enter your query...."  />  
          <input id="ButtonInput" type="submit"  onclick="getBotResponse()"    value="Enter">

          <!-- here, user can upload mutliple files for learning -->
          <form action="http://localhost:3000/" method="POST" enctype="multipart/form-data">
            <input id="pdfInput" type="file" name="file" multiple/>
            <input id="ButtonInput" type="submit"  onclick="successfully_uploaded()"    value="Ingest Log">
           

          </form>

        </div>
      
      </div>
    </div>
  </body>
</html>